body{
  font-family: Arial;
}

a{
  text-decoration:none;
  color:#000;
  &:hover{
    color:lightblue;
  }
}

#app{
  padding: 10px;
  max-width:1280px;
  margin:0 auto;
}

.u-displayBlock {
  display: block;
}

.header {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  .welcome {
    float: right;
  }
  .logout {
    float: right;
    margin-left: 10px;
  }
}

.Navbar{
  border:1px solid;
  padding:20px;
  margin:25px 0px;

  &:after {
    content: '';
    clear: both;
    display: block;
  }
}

  .NavbarLeft{
    float:left;
  }
    .NavbarLeft-Logo{
      font-weight:bold;
    }

  .NavbarRight{
    float:right;
  }

  .NavbarRight-MenuItem{
    display:inline-block;
    margin:0px 20px;
  }
